* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(60deg, #35393d 0%, #7e8082 100%);
  display: grid;
  place-items: center;
}
form {
  background-color:#00C0A3;
  box-shadow: 0 14px 38px 0 rgba(8, 9, 24, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 65px;
  width: 50%;
  margin: 100px auto;
  text-align: center;
}
#unitCalc label {
  font-size: 30px;
  color: #0a0a0a;
}
#unit {
  border: none;
  padding: 10px;
  height: 40px;
  width: 100px;
  font-size: 20px;
  margin-top: 20px;
}
#unit_diff {
  width: 150px;
  height: 40px;
  border: none;
  margin-top: 20px;
  font-size: 15px;
  vertical-align: top;
}
[type="submit"] {
  height: 35px;
  margin: 20px;
  width: 100px;
  font-size: 15px;
  border: none;
  background-color: #000;
  color: #fff;
}
#resultContainer {
  font-size: 2rem;
  color: #0a0a0a;
}
#resultContainer2 {
  font-size: 2rem;
  color: #0a0a0a;
}
#resultContainer3 {
  font-size: 2rem;
  color: #0a0a0a;
}
.button-17 {
  margin-bottom: 40px;
  align-items: center;
  appearance: none;
  background-color: rgb(239, 236, 236);
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #222425;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 55px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}
.button-17:hover {
  background: #f6f9fe;
  color: #174ea6;
}
.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}
.button-17:focus {
  outline: none;
}
.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}
.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
    rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}
.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}
.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
    rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}
.button-17:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}
#unit {
  border-radius: 4px;
  margin: 15px;
}
#unit_diff {
  border-radius: 4px;
  margin: 15px;
}
.text {
  margin-bottom: 40%;
}
